@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira Semi Condensed", sans-serif;
}
a,
p {
  font-size: 16px;
}
.container {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: start;
  background-color: #3949ab;
  color: white;
  padding: 20px;
}

.container a {
  text-decoration: none;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.top {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  column-gap: 50px;
}

.billboard-image {
  max-width: 50vw;
}
.billboard-description {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  column-gap: 10px;
  justify-content: end;
}
.description {
  float: left;
  width: 350px;
  overflow-wrap: break-word;
}
.description ul {
  list-style: none;
  row-gap: 15px;
}

.profile-btn-a {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  text-align: center;
}

.billboard-image img {
  max-width: 500px;
  border-radius: 11px;
}
